*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.wrapper{
    font-family: 'Rubik', sans-serif;
}

.main_page{
    background-color: #3CDBC0;
    height: 100vh;
}

.header_page{
    background-color: #fff;
    position: fixed;
    width: 100%;
    text-align: center;
    top:0;
}

.box-logo{
    margin: 10px 0 10px 0;
}

.nav_page{
    margin-bottom:13px;
}

.menu{
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a{
    text-decoration: none;
    color: #4a4a4a;
} 

.title{
    color:#FFFFFF;
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem
}

@media all and (min-width: 768px){
    .header_page {
        display: flex;
        justify-content: space-between;
    }   
    
    .box-logo{
        margin: 20px 30px 20px 0;
    }

    .title{
        font-size: 2.5rem;
    }

    .nav_page{
        margin: 40px 30px 10px 0;
    }

}